# production
VITE_AUTH_PROXY=/auth
VITE_FILE_PROXY=/file
VITE_API_PROXY=/api

# development
VITE_AUTH_PROXY=http://localhost:9000
VITE_FILE_PROXY=http://localhost:9000
VITE_API_PROXY=http://localhost:19878
